<top-bar></top-bar>
<down-bar></down-bar>

<div style="text-align: center; transform: translateY(5vh);">
  <h1 style="font-size: 4vw">Social</h1>
  <br><br><br>
</div>

  <div class="contenedorCajas">
      <div class="card cardScrolabble" style="width: 35vh;">
          <div class="card-body text-center">
            <h5 class="card-title">Lista de amigos</h5>

            <div *ngIf="(vacio | async) == true">
              <p class="card-text">No tienes ningún amigo.</p>
            </div>

            <div *ngIf="(vacio | async) == false">
              <div *ngFor="let p of amigos">
                <button class="btn btn-success btn-lg col-12" (click)="consultarPerfil(p)" style="margin-top: 1em;">{{p}}</button>
              </div>
            </div>
          </div>
        </div>
      <div>

      <br>

      <div class="card cardScrolabble" style="width: 35vh;">
          <div class="card-body text-center justify-content-center">
            <h5 class="card-title">Buscar amigos</h5>
            <div class="input-group rounded">
              <span class="input-group-addon">
                  <i class="fa fa-search"></i>
              </span>
              <input id="busqueda" name="busqueda" type="search" class="form-control rounded" placeholder="Busca un usuario" aria-label="Search" aria-describedby="search-addon" (change)="onChangeEvent($event)" />
            </div>

            <div *ngFor="let p of busqueda">
              <div class="partida">
                  <!--<a [routerLink]="['/perfil/',p.Nombre]">{{p.Nombre}}</a>-->
                  <button style="width:100%" class="btn btn-primary btn-lg col-12" (click)="consultarPerfil(p.Nombre)" style="margin-top: 1em;">{{p.Nombre}}</button>
                <br>
              </div>
            </div>
          </div>
        </div>
      <div>

  </div>
</div>

