<div style="text-align: center;">
    <h1>Cambio de contraseña</h1>

<form [formGroup]="profileForm">

    <p style="font-size: small; "><a [routerLink]="['/registroUsuario']" style="text-decoration: none;">¿Nuevo aquí? Regístrate</a></p>
    <br>
    <p style="font-size: small; "><a [routerLink]="['/resetPassword']" style="text-decoration: none;">¿Tienes un token de resetear tu contraseña?</a></p>
    <br>
    <input id="usuario" type="text" formControlName="usuario" size="30" placeholder="Nombre de usuario">
    <div *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)"
      style="color:red;">

      <div *ngIf="usuario.errors?.['required']">
        El nombre de usuario es obligatorio.
      </div>
    </div>
    <div *ngIf="!usuario.dirty|| (!usuario.errors)"> <br> </div>
    
</form>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <button class="btn btn-outline-primary" type="submit"[disabled]="!profileForm.valid" >Solicitar token</button>
</form>
</div>
