<div class="cen">

    <div class="containerVideoInicio">
        <video autoPlay muted loop>
            <source src="../../assets/videoInicio2.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
      
    <div class="txt" style="transform: translateY(25vh)">
      <div class="contenedorTituloInicio">
        <h1 class="textoTituloInicio">World Domination</h1>
      </div>

      <div class="contenedorBotonInicio">
        <div class="d-grid gap-2">
            <button class="btn btn-primary btn-lg textoBotonInicio" type="submit" [routerLink]="['/inicioSesion']">Iniciar sesión</button>
        </div>
      </div> <br/>

      <div class="contenedorBotonInicio">
        <div class="d-grid gap-2">
            <button class="btn btn-primary btn-lg textoBotonInicio" type="submit" [routerLink]="['/registroUsuario']">Crear cuenta</button>
        </div>
      </div>
    </div>
</div>