

<div style="text-align: center;">
    <h1>World domination</h1>
    <br>
    <button><a class="boton" [routerLink]="['/buscarPartida']">Buscar Partida</a></button>
    <br><br>
    <button><a class="boton" [routerLink]="['/crearPartida']">Crear Partida</a></button>
    <br><br>
    <button><a class="boton" [routerLink]="['/ranking']">Ranking</a></button>
    <br><br>
    <button><a class="boton" [routerLink]="['/tienda']">Tienda</a></button>
    <br><br>
    <button><a class="boton" [routerLink]="['/personalizacion']">Personalizacion</a></button>
</div>

    