<top-bar></top-bar>
<down-bar></down-bar>

<div style="text-align: center;">
    <img src={{rutaAssetTop}} alt="image" class="TopIzq">
    <img src={{rutaAssetTop}} alt="image" class="TopCenter">
    <img src={{rutaAssetTop}} alt="image" class="TopDer">

    <!--<div id="textoGanador"></div>-->
    <div class="centradoArriba">
      <h1> {{textoGanador}} </h1>
      <h1> {{textoGanadorAlt}} </h1>
      <div> {{yo}} </div>
    </div>


    <div class="jugadorGanador"> {{ganador}} </div>

    <div class="restoJugadores"> </div>
</div>
