* {
  background-color: #20BCE7;
}



inline {
  background-color: #20BCE7;
}

html, body{
  margin:0;
  background-color: #20BCE7;
}

/*#bannerAlertas.swal2-container {
  position:absolute;
  transform: translate(-50%, -50%);
}*/

.interfazFases {
  position: absolute;
  background-color:hsl(0, 0%, 0%, 0);
  transform: scale(1);
}

.imagen {
  background-color:hsl(0, 0%, 0%, 0);
}

.cajaChat {
  background-color:hsl(0, 0%, 0%, 0);
  width: max-content;
  display:flex;
  justify-content: center;
  align-items: center;
}

.itemChat {
  display:flex;
  background-color:hsl(0, 0%, 0%, 0);
  justify-content: center;
  align-items: center;
}

.containerJugadores {
  width:17%;
  height: 95px;
  margin-top: 1.5%;
  margin-right: 4%;
  float:right;
  clear:right;
}

.botonesPrincipales {
  width: 180px;
  display: flex;
}

.boton {
  border: 1.5px solid white;
  border-radius: 20px;
  background-color: #CCF4FF;
  padding: .5em;
  cursor: pointer;
  transition: width 0.5s, height 0.5s, transform 0.5s;
}

.boton:hover {
  background-color: #a4ebff;
  transform: scale(1.05);
}

.botonClick {
  /*border: 1.5px solid yellow; */
  width: 55%;
  height: auto;
  display:flex;
  flex-direction: column;
}

.containerBotones {
  /* border: 1.5px solid white; */
  position: absolute;
  transform: translate(0%, -100%);
  float:left;
  margin-left: 4%;
  background-color: transparent;
}

.containerFases {
  position: absolute;
  margin-left: 37%;
  transform: translate(1vw,-2vh);
  border-radius: 20px;
  width: 18.50vw;
  height: 9.67vh;
  clear:right;
  border: 1px solid #fafafa;
  box-shadow:  rgba(0, 0, 0, 0.25) 0px 5px 10px;
  background: #b5bbbd;
}

.rectangulito {
  position: absolute;
  margin-top: 4.7%;
  border: 0.2px solid black;
  width: 3.5vw;
  height: 1.29vh;
  clear:right;
  background: #ffffff;
}

.turno {
  background-color: hsl(0, 0%, 0%, 0);
  text-align: center;
  transform: translate(-2.3vw, 1vh);
}

.fase{
position:absolute;
background-color: hsl(0, 0%, 0%, 0);
text-align: center;
transform: translate(5.4vw, 3.9vh);
}

.round {
  border: 1px solid rgb(71, 70, 70);
  position: absolute;
  margin-left: 3.5%;
  margin-top: 3.5%;
  width: 5.20vw;
  height: 10.75vh;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
}

.round:hover {
cursor: pointer;
}

span {
z-index: 999;
height: 0.32vh;
margin:1px;
width: 1.56vw;
background: rgb(138, 133, 133);
transition: 0.4s ease;
}

span:first-child {
display: block;
position: absolute;
transform: rotate(45deg);
left: 25%;
bottom: 35%;
}

span:nth-child(2) {
display: block;
position: absolute;
transform: rotate(-45deg);
left: 45%;
bottom: 35%;
}

span:nth-child(3) {
display: block;
position: absolute;
transform: rotate(45deg);
left: 25%;
bottom: 54%;
}

span:nth-child(4) {
display: block;
position: absolute;
transform: rotate(-45deg);
left: 45%;
bottom: 54%;
}

.round:hover span:nth-child(1) {
transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
transform: rotate(-225deg);
}

.botonChat {
  border: 1.5px solid white;
  border-radius: 20px;
  background-color: #CCF4FF;
  height: 75px;
  width: 280px;
  padding: .5em;
  margin-left: 20px;
}

.textoChat {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color:#000000;
  font-size: 16px;
  font-weight: 400;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 5em;
  line-height:2.3em;
}
