<body>
    <div id="bannerAlertas"></div>
    <mapa style="height: 80;" *ngIf="!info"></mapa>
    <mapa-info *ngIf="info"></mapa-info>
    <div class='containerBotones'>
        <div class="botonClick" id="hidden_buttons" style="transform: translateY(6.2vh)">
            <div @mostrarSlide class="boton" *ngIf="isShow" (click)="setMapa()">
                <input class="imagen" type="image" id="user_but" src="assets/user.png" alt='user' height="80" width="80" />
            </div> &nbsp;&nbsp;&nbsp;&nbsp;
            <div @mostrarSlide class="boton" *ngIf="isShow" (click)="setMapaInfo()">
                <input class="imagen" type="image" id="world_but" src="assets/world.png" alt='world' height="80" width="80"/>
            </div>
        </div>
        <div class="botonesPrincipales" style="transform: translateY(8.3vh)">
            <div class="boton">
                <input class="imagen" type="image" id="bar_char_but" (click)="toggleDisplay()" (click)="changeImage()" src={{source}} alt='bar-chart' height="80" width="80" />
            </div> &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="boton">
                <input class="imagen" type="image" id="cards_but" (click)="irCartas()"src="assets/cards.png" alt='cards' height="80" width="80"/>
            </div> &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="boton">
              <input class="imagen" type="image" id="chat_but" (click)="mostrarAlertaChat()" src="assets/chat.png" alt='chat' height="80" width="80"/>
            </div> &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="boton">
                <div class="cajaChat" id="cajaChat"><div class="itemChat">Chat vacío</div></div>
            </div>

        </div>
    </div>
    <div class="containerFases">
        <div class="turno"><a class="turnoT">TURNO:</a> {{logica.jugadorTurno}}</div>
        <div class="fase">{{mostrarFase()}}</div>
        <div class="round" (click)="cambiarFase()" style="transform: rotate(270deg) scale(0.7) translate(6.5vh, 18vw);">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="rReforzar" class="rectangulito" style="transform: translateX(0.8vw)"></div>
        <div id="rAtacar" class="rectangulito" style="transform: translateX(5.2vw)"></div>
        <div id="rFortificar" class="rectangulito" style="transform: translateX(9.6vw)"></div>
    </div>
    <div class="Dados">
        <img id="dadoUno" class="imagenDado" style="visibility: hidden;">
        <img id="dadoDos" class="imagenDado" style="visibility: hidden;">
        <img id="dadoTres" class="imagenDado" style="visibility: hidden;">
    </div>
</body>










