<top-bar-juego></top-bar-juego>
<mapa *ngIf="!info"></mapa>
<mapa-info *ngIf="info"></mapa-info>
<div class='containerBotones'>
    <div class="botonClick" id="hidden_buttons">
        <div @mostrarSlide class="boton" *ngIf="isShow" (click)="setMapa()">
            <input class="imagen" type="image" id="user_but" src="https://img.icons8.com/ios/50/000000/user--v1.png" alt='user' height="60" width="60" />
        </div> &nbsp;&nbsp;&nbsp;&nbsp;
        <div @mostrarSlide class="boton" *ngIf="isShow" (click)="setMapaInfo()">
            <input class="imagen" type="image" id="world_but" src="https://img.icons8.com/external-kmg-design-detailed-outline-kmg-design/64/000000/external-world-business-strategy-kmg-design-detailed-outline-kmg-design.png" alt='world' height="60" width="60"/>
        </div>
    </div>
    <div class="botonesPrincipales">          
        <div class="boton">
            <input class="imagen" type="image" id="bar_char_but" (click)="toggleDisplay()" (click)="changeImage()" src={{source}} alt='bar-chart' height="60" width="60" />
        </div> &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="boton">
            <input class="imagen" type="image" id="cards_but" src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/60/000000/external-cards-children-toys-vitaliy-gorbachev-lineal-vitaly-gorbachev.png" alt='cards' height="60" width="60"/>
        </div>
    </div>
</div>


