<top-bar></top-bar>
<mapa *ngIf="!mapaInfo"></mapa>
<mapa-info *ngIf="mapaInfo"></mapa-info>


<div >
    <div class="botonesPrincipal">
        <div class="buttonClicked" id="hidden_buttons">
            <div @mostrarSlide *ngIf="isShow" (click)="setMapa()" class="buttons">
                <input class="imagen" type="image" id="user_but" src="https://img.icons8.com/ios/50/000000/user--v1.png" alt='user' height="60" width="60" />
            </div> &nbsp;&nbsp;&nbsp;&nbsp;
            <div @mostrarSlide *ngIf="isShow" (click)="setMapaInfo()" class="buttons">
                <input class="imagen" type="image" id="world_but" src="https://img.icons8.com/external-kmg-design-detailed-outline-kmg-design/64/000000/external-world-business-strategy-kmg-design-detailed-outline-kmg-design.png" alt='world' height="60" width="60"/>
            </div>
        </div>

        <!--Botones principales: botón desplegable mapas y botón cartas usuario-->
        <div class="buttonsBox">
            <div (click) = toggleDisplay() (click) = changeImage() class="buttons">
                <input #bar_char_but class="imagen" type="image" src={{source}} alt='bar-chart' height="60" width="60" />
            </div> &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="buttons">
                <input class="imagen" type="image" id="cards_but" src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/60/000000/external-cards-children-toys-vitaliy-gorbachev-lineal-vitaly-gorbachev.png" alt='cards' height="60" width="60"/>
            </div>
        </div>
    </div>
</div>


