* {
  background-color: #20BCE7;
}

.country{
  cursor: pointer;
}

.special-country{
opacity: 0.8;
}

.country:hover {
  fill:#FFFFFF;
  opacity: 0.8;
  transition: 0.3s;
  transform: scale(1.003);
}

#Lines{
  stroke-dasharray: 5,5;
}

.circulo{
  stroke: black;
  stroke-width: 2;
  -webkit-filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .5));
  filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .5));
  pointer-events: none;
}

.cAfrica .circulo {
  fill:#ddb892;
}

.cOceania .circulo {
  fill: #ddb892;
}

.cAmericaSur .circulo {
  fill: #ddb892;
}

.cAmericaNorte .circulo {
  fill: #ddb892;
}

.cEuropa .circulo  {
  fill: #ddb892;
}

.cAsia .circulo {
  fill: #ddb892;
}

.cAsia {
  fill: #ddb892;
}

.circulos text{
    font-family: arial;
    fill: white;
    stroke: #000000;
    stroke-width: 0.7px;
    font-size: 18px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: central;
    pointer-events: none;
    cursor: pointer;
}

.containerJugadores {
  width:3%;
  height: 95px;
  margin-top: 3%;
  margin-right: 2.5%;
  float:right;
  clear:right;
}

.jugador {
  width: auto;
  height: 100%;
  margin-top: 45%;
  float:right;
  clear:right;
  border-radius: 30px;
  border: 1px solid #fafafa;
  box-shadow:  rgba(0, 0, 0, 0.25) 0px 5px 10px;
  background: #c3195d;
  font-size: 50px;
  display:flex;
  padding-right: 20%;
  padding-left: 15%;
}

.imagenJugador {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  float:left;
  margin: auto;
  position: relative;

  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #7f0033;
}

.jugador:hover {
  opacity: 0.9;
  transition: 0.1s;
}

.datosJugadores {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color:hsl(0, 0%, 0%, 0);
  font-size: 20px;
  font-weight: 550;
  padding: 9px 0;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.imagen {
  background-color:hsl(0, 0%, 0%, 0);
}

