<div style="text-align: center;overflow: hidden;">
  <div class="card" style="width: 40rem;padding: 2rem; justify-content: center;margin-right: auto;margin-left: auto;margin-top: 2%;margin-bottom: auto;">  
    
    <h1 style="margin-bottom: 1.5rem;">Cambio de contraseña</h1>

    <form [formGroup]="profileForm">

        <input id="token" type="text" formControlName="token" size="30" placeholder="Token de cambio de contraseña">
        <div *ngIf="token.invalid && (token.dirty || token.touched)"
          style="color:red;">

          <div *ngIf="token.errors?.['required']">
            El token es obligatorio.
          </div>
        </div>

        <div *ngIf="!(token.invalid && (token.dirty || token.touched)) "> <br> </div>

        <input id="password" type="password" formControlName="password" size="30" placeholder="Nueva contraseña">
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
              style="color:red;">

                <div *ngIf="password.errors?.['required']">
                La contraseña es obligatoria.
                </div>
          </div>
        <div *ngIf="!(password.invalid && (password.dirty || password.touched))"> <br> </div>
      
    </form>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <button class="btn btn-outline-primary" type="submit"[disabled]="!profileForm.valid" >Cambiar contraseña</button>
    </form>
    <hr>
    <p style="font-size: small; "><a [routerLink]="['/registroUsuario']" style="text-decoration: none;">¿Nuevo aquí? Regístrate</a></p>
    <p style="font-size: small;"><a [routerLink]="['/inicioSesion']" style="text-decoration: none;">¿Tienes cuenta ya? Inicia sesión</a></p>
    
  </div>  
</div>
