<div style="text-align: center;">
    <h1>Inicio de sesión en tú cuenta de World Domination</h1>

<form [formGroup]="profileForm">

    <p style="font-size: small; "><a [routerLink]="['/registroUsuario']" style="text-decoration: none;">¿Nuevo aquí? Regístrate</a></p>
    <br>
    <p style="font-size: small; "><a [routerLink]="['/solicitarToken']" style="text-decoration: none;">¿Has olvidado tu contraseña?</a></p>
    <br>
    <input id="token" type="text" formControlName="token" size="30" placeholder="Token de cambio de contraseña">
    <div *ngIf="token.invalid && (token.dirty || token.touched)"
      style="color:red;">

      <div *ngIf="token.errors?.['required']">
        El token es obligatorio.
      </div>
    </div>


    <br><br>
    <input id="password" type="password" formControlName="password" size="30" placeholder="Nueva contraseña">
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
          style="color:red;">

            <div *ngIf="password.errors?.['required']">
            La contraseña es obligatoria.
            </div>
      </div>

    <br><br>
</form>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <p>Pulse el botón para iniciar sesión</p>
    <button type="submit"[disabled]="!profileForm.valid" >Submit</button>
</form>
</div>
