.participante {
  width: 30%;
  height: 70px;
  margin: 0 auto;
  margin-top: 0.75%;
  border-radius: 15px;
  border: 1px solid #fafafa;
  box-shadow:  rgba(0, 0, 0, 0.2) 0px 5px 10px;
  background: #c3195d;
  font-size: 50px;   
  transition: width 0.5s, height 0.5s, transform 0.5s;
} 

.jugadorEspera {
  background: #b7b9cc;
  border-style: dashed ;
  /* stroke-dasharray: 5,5; */
}
.participante:hover {
  opacity: 0.9;
  transition: 0.2s;
  transform: scale(1.01);
}

.datosParticipante {
  color:#fafafa;
  font-size: 20px;
  font-weight: 550;
  padding: 20px;
}


.contenedorJugadoresEspera {
    width: 100%;
    height: 50%;
    margin-top: 5%;
    margin-right: 4%;
    margin: auto;
    padding-top: 0.1%;
    padding-bottom: 2%;
}

.containerBoton {
    border: 1.5px solid rgb(41, 136, 85); 
    float:left;
    clear:left;
    width: 50%;
    height: 50%;
    left: 0;
    margin-bottom: 2%;
}

.botonAtrasEspera {
    border: 1.5px solid white; 
    border-radius: 10px;
    background-color: #858796;
    width: 20%;
    height: 50%;
    color:#fafafa;
    font-size: 20px;
    font-weight: 550;
    left: 0;
    vertical-align: middle;
    padding: .5em;
    cursor: pointer;
    transition: width 0.5s, height 0.5s, transform 0.5s;
    margin: auto;
  }
  
  .color0{
    background: #f94144;
  }

  .color1{
    background: #f9c74f;
  }

  .color2{
    background: #90be6d;
  }

  .color3{
    background: #0a9396;
  }

  .color4{
    background: #6a4c93;
  }

  .color5{
    background: #f9844a;
  }

  

  .botonAtras:hover {
    opacity: 0.6;
    transform: scale(1.05);
    
  }

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 15px;
    width: 10px;
    height: 10px;
    border-radius: 90%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 1s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 1s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 1s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 1s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
    
  
