<top-bar></top-bar>
<down-bar></down-bar>
<div style="overflow: hidden;">
    <div class="card" style="width: 34rem;padding:2rem;padding-left: 4rem;padding-right: 4rem; justify-content: center;margin-right: auto;margin-left: auto;margin-top:2%;margin-bottom: auto;">  
      
      <h1 style="margin-bottom: 1.5rem;text-align: center; ">Crear partida</h1>
  
      <form [formGroup]="profileForm" style="margin-bottom: 5px;">
          <label for="maxJugadores" class="fw-bolder" style="font-size: 1.25rem">Número de jugadores</label>
          <select class ="btn btn-outline-primary" style= "margin-left: 15px;" id="maxJugadores" name="maxJugadores" formControlName="maxJugadores">
              <option class="dropdown-item" value="3">3</option>
              <option class="dropdown-item" value="4">4</option>
              <option class="dropdown-item" value="5">5</option>
              <option class="dropdown-item" value="6">6</option>
          </select>
          <br><br>
      </form>    
          <h5 class="fw-bolder">Tipo de partida</h5><br>
          <div class="form-check" style="margin-bottom: 15px;">
            <input type="checkbox" class="form-check-label" id="publica" [(ngModel)]="publica" name="publica" (change)="actualizar('publica')"> 
            <label class="form-check-label" for="publica">Partida pública</label>
          </div>

          <div class="form-check" style="margin-bottom: 15px;">
            <input type="checkbox" class="form-check-label" id="privada" [(ngModel)]="privada" name="privada" (change)="actualizar('privada')">
            <label class="form-check-label " for="privada">Partida privada</label>
          </div>

          <form [formGroup]="profileForm" >
            <div class="form-group row" id="contrasenia" style="visibility: hidden;">
              
              <label for="password" class="col-sm-2 col-form-label fw-bolder" style="font-size: 1.25rem;margin-bottom: 5px;width: 35%;">Contraseña:</label>
              <div class="col-sm-10" style="width: 65%;">
                <input type="text" class="form-control" id="password" name="password" formControlName="password">
              </div>
            
          </div> 
        </form>

      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" style="text-align: center;margin-top: 15px;">
          <button class="btn btn-outline-primary" type="submit" [disabled]="(!esPublica&&!esPrivada)||(esPrivada&&password.errors?.['required'])||(maxJugadores.errors?.['required'])">Crear partida</button>
      </form>
    
    </div>
</div>

 
  
  