<top-bar></top-bar>
<down-bar></down-bar>
<router-outlet></router-outlet>
<div style="text-align: center;">
    <br><br><br>
    <h1>World domination</h1>
    <br>
    <button><a class="boton" [routerLink]="['/lobby']">lobby</a></button>

    <button><a class="boton" [routerLink]="['/buscarPartida']">Buscar Partida</a></button>
    <br><br>
    <button><a class="boton" [routerLink]="['/crearPartida']">Crear Partida</a></button>
    <br><br>
    <button><a class="boton" [routerLink]="['/ranking']">Ranking</a></button>
    <br><br>
    <button><a class="boton" [routerLink]="['/tienda']">Tienda</a></button>
    <br><br>
    <button><a class="boton" [routerLink]="['/personalizacion']">Personalizacion</a></button>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <button><a class="boton" [routerLink]="['/juego']">Mapa</a></button>
    

</div>
