<top-bar></top-bar>
<down-bar></down-bar>
<router-outlet></router-outlet>
<div style="text-align: center;">
    <br><br><br>
    <h1>World domination</h1>
    <br>

    <div id="botonLobby"><button class="btn btn-outline-primary" type="submit" [routerLink]="['/lobby']">lobby</button></div>
    <div id="botonJuego" style="display:none;"><button class="btn btn-outline-primary" type="submit"[routerLink]="['/juego']">Volver a la partida</button></div>
    <br>
    <button class="btn btn-outline-primary" type="submit" [routerLink]="['/buscarPartida']">Buscar Partida</button>
    <br><br>
    <button class="btn btn-outline-primary" type="submit" [routerLink]="['/crearPartida']">Crear </button>
    <br><br>
    <button class="btn btn-outline-primary" type="submit" [routerLink]="['/ranking']">Ranking</button>
    <br><br>
    <button class="btn btn-outline-primary" type="submit" [routerLink]="['/tienda']">Tienda</button>
    <br><br>
    <button class="btn btn-outline-primary" type="submit" [routerLink]="['/personalizacion']">Personalizacion</button>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <!--<button><a class="boton" [routerLink]="['/juego']">Mapa</a></button> -->


</div>
