

<div class="navbar navbar-dark bg-dark" style="justify-content: right;">
  <a class="navbar-brand ps-3" style="position: fixed; left: 1%;" [routerLink]="['/identificacion']" >World domination</a>

    <li class="nav-item ">
      <a class="nav-link" style="left: 0; color: #6c757d;"> {{puntos}}
        <img style="  filter: invert(100%)" src="assets/puntos.png"/>
          
      </a>
    </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link " style="left: 0;" [routerLink]="['/notificaciones']"> 
          <img style="cursor: pointer;filter: invert(100%)" src="assets/notificaciones.png"/>
            <!-- Counter - Alerts -->
            <span class="badge badge-danger badge-counter">{{notificaciones}}</span>
        </a>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link" [routerLink]="['/amigos']"> 
          <img style="cursor: pointer;filter:invert(100%)" src="assets/amigos.png"/>
    
            <span class="badge badge-danger badge-counter">{{amigos}}</span>
        </a>
      </li>
    
     
    <li class="nav-item dropdown"> 
      
      <a class="nav-link dropdown-toggle" style="color:#6c757d" id="navbarDropdown" (click)="mostrar()" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{nombre_usuario}}</a>
  
      <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="navbarDropdown" id="menu" data-bs-popper="none">
        <li><a class="dropdown-item" [routerLink]="['/miPerfil']">Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="cerrarSesion()">Log out</a></li>
      </ul>
  
    </li>
  
    

</div>
