<top-bar></top-bar>
<down-bar></down-bar>

<div class="contenedorPrincipal" style="text-align: center;">
    <br><br>
    <h1><img src="https://img.icons8.com/small/64/000000/user-male-circle.png"/>
        {{nombre}}
    </h1>
    <br><br><br>
       <h3>Biografía</h3>
    <p *ngIf="descripcion != null">{{descripcion}}</p>
    <p *ngIf="descripcion == null">El usuario no tiene ninguna descripcion.</p>
    <br>
    <h3>Puntos: {{puntos}}</h3>
    <h3>Partidas ganadas: {{partidas_ganadas}}</h3>
    <h3>Partidas totales: {{partidas_totales}}</h3>
    <div *ngIf="esAmigo; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
        Sois amigos
        <button (click)="eliminarAmigo(nombre)">Eliminar amigo</button>
    </ng-template>
    <ng-template #elseBlock>
        <button (click)="enviarSolicitudAmistad(nombre)">Añadir amigo</button>
    </ng-template>




</div>
