.contenedorPrincipal {
  width:38.8vw;
  height:62vh;
  border:1.5px solid rgb(54, 51, 51);
  transform: translate(28vw, 12vh);
}

.avatar {
  width: 50%;
  height: auto;
  border-radius: 100%;
  border: 0.2em solid black;
}
