<footer class="py-4 bg-dark mt-auto" style="position:fixed;bottom: 0%; width: 100%;">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-white">Copyright © Unizzard 2022</div>
            <div class="text-muted">
                <a class="link-secondary" href="https://github.com/fran1017">Fran Crespo</a>
                ·
                <a class="link-secondary" href="https://github.com/Guilleuz">Guillermo Enguita</a>
                ·
                <a class="link-secondary" href="https://github.com/emiiidk">Emilio Estevan</a>
                ·
                <a class="link-secondary" href="https://github.com/Sondeluz">Samuel García</a>
                ·
                <a class="link-secondary" href="https://github.com/llauragonzalezz">Laura González</a>
                ·
                <a class="link-secondary" href="https://github.com/JorgeGrima">Jorge Grima</a>
            </div>
        </div>
    </div>
</footer>
