
<top-bar></top-bar>
<down-bar></down-bar>

<br>
<!--<h1 style="text-align: center;">Buscar Partida</h1>-->

<div class="bP card">
  <h1 style="margin-top: 1.5rem;text-align: center;">Buscar Partida</h1>
  <ng-container *ngFor="let p of jsonArray">
    <div class="partida card" style="background-color:rgb(250, 250, 250);">
      <div class="tipoPartida">
        <a *ngIf="p.EsPublica" class="txtTP">Partida Publica</a>
        <a *ngIf="!p.EsPublica" class="txtTP">Partida Privada</a>
      </div>
      <a class="txtJugadores">En sala: {{p.NumeroJugadores}}/{{p.MaxNumeroJugadores}}</a>
      <a class="txtAC">Amigos conectados: {{p.NumAmigosPresentes}}</a>
      <button class="btn btn-outline-primary botonJoin" *ngIf="p.EsPublica" type="submit" (click)="onSubmit(p.IdPartida, p.EsPublica)" [routerLink]="['/lobby']">UNIRSE</button>
      <div [formGroup]="profileForm" *ngIf="!p.EsPublica">
        <button class="btn btn-outline-primary botonJoin" type="submit" (click)="onSubmit(p.IdPartida, p.EsPublica)" >UNIRSE</button>
        <input placeholder="Contraseña" class="pass" formControlName="password">
      </div>
    </div>
    <br>
  </ng-container>


</div>
