.bP{
  width: 41.8vw;
  height: 80vh;
  border:1.5px solid rgb(54, 51, 51);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}

.partida{
  width:38.8vw;
  height:16.14vh;
  border:1.5px solid rgb(54, 51, 51);
  transform: translate(1.25vw, 1.07vh);
}

.tipoPartida{
  width:10.41vw;
  height:5.38vh;
  border:1.5px solid rgb(54, 51, 51);
  border-top: 0px;
  border-left: 0px;
  text-decoration: none;
  color:rgb(83, 81, 81);
}

.txtTP {
  font-size: 1vw;
  position: fixed;
  transform: translate(1.30vw, 1.61vh);
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
  color:rgb(83, 81, 81);
}

.txtJugadores {
  font-size: 1vw;
  position: absolute;
  transform: translate(30vw, 1vh);
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
  color:rgb(83, 81, 81);
}

.txtAC {
  font-size: 1vw;
  position: absolute;
  transform: translate(1.04vw, 11.5vh);
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
  color:rgb(83, 81, 81);  
}

.botonJoin {
  width: 7vw;
  height: 3.5vh;
  font-size: 0.82vw;
  transform: translate(29vw, 4.3vh);
  text-decoration: none;
}

.botonJoin:hover {
  cursor: pointer;
}

.pass {
  transform: translate(12vw, 4.3vh);
  height: 2.8vh;
  width: 6vw;
  font-size: 1vw;
}