
<top-bar></top-bar>
<down-bar></down-bar>

<br>
<!--<h1 style="text-align: center;">Buscar Partida</h1>-->

<div class="bP">
  <ng-container *ngFor="let p of jsonArray">
    <div class="partida">
      <div class="tipoPartida">
        <a *ngIf="p.EsPublica" class="txtTP">Partida Publica</a>
        <a *ngIf="!p.EsPublica" class="txtTP">Partida Privada</a>
      </div>
      <a class="txtJugadores">En sala: {{p.NumeroJugadores}}/{{p.MaxNumeroJugadores}}</a>
      <a class="txtAC">Amigos conectados: {{p.NumAmigosPresentes}}</a>
      <button *ngIf="p.EsPublica" type="submit" (click)="onSubmit(p.IdPartida, p.EsPublica)" [routerLink]="['/lobby']" class="botonJoin">UNIRSE</button>
      <div [formGroup]="profileForm" *ngIf="!p.EsPublica">
        <button type="submit" (click)="onSubmit(p.IdPartida, p.EsPublica)" class="botonJoin" >UNIRSE</button>
        <input placeholder="Contraseña" class="pass" formControlName="password">
      </div>
    </div>
    <br>
  </ng-container>


</div>
