.bP{
  width:800px;
  height: 800px;
  border:1.5px solid rgb(54, 51, 51);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}

.partida{
  width:750px;
  height:150px;
  border:1.5px solid rgb(54, 51, 51);
  transform: translate(20px, 10px);
}

.tipoPartida{
  width:200px;
  height:50px;
  border:1.5px solid rgb(54, 51, 51);
  border-top: 0px;
  border-left: 0px;
}

.txtTP {
  position: fixed;
  transform: translate(25px, 15px);
  font-family:Arial, Helvetica, sans-serif;
}

.txtJugadores {
  position: absolute;
  transform: translate(550px, -35px);
  font-family:Arial, Helvetica, sans-serif;
}

.txtAC {
  position: absolute;
  transform: translate(20px, 50px);
  font-family:Arial, Helvetica, sans-serif;
}
