<div style="text-align: center;overflow: hidden">
    <div class="barra topnav">
        <a class="text-white">Tarjetas</a>   
    </div>
    
    <div class="contenedorCartas">
        <div *ngFor="let miCarta of cartasSeleccionadas" style="display: inline-block;">
            <div class="cartaNoSeleccionada" >
                <div *ngIf="!miCarta.EsComodin">
                    <div class="fotoCarta"><img src={{imagenCartas[miCarta.Tipo]}}/></div>
                    <div class="textoCarta">{{territorios[miCarta.Region]}}</div>
                </div>
                <div *ngIf="miCarta.EsComodin">
                    <div class="fotoCartaMini"><img src="https://img.icons8.com/ios-filled/64/000000/soldier.png"/></div>
                    <div class="fotoCartaMini"><img src="https://img.icons8.com/ios-filled/64/000000/horseback-riding.png"/></div>
                    <div class="fotoCartaMini"><img src="https://img.icons8.com/ios-filled/64/000000/cannon.png"/></div>
                </div>  
            </div>
        </div>
        <div *ngFor="let p of cartasSeleccionadasVacias" style="display: inline-block;">
            <div (click)="seleccionar(p)" class="cartaNoSeleccionada" ></div>
        </div>
    </div>
    
    <button [disabled]="cartasSeleccionadas.length != 3" (click)="submit()" class="botonCentro">Canjear</button>
    
    <div class="contenedorCartas">
            <div  *ngFor="let miCarta of misCartas" style="display: inline-block;">
                <div (click)="seleccionar(miCarta)" id={{miCarta.IdCarta}} class="carta" >
                    <div *ngIf="!miCarta.EsComodin">
                        <div class="fotoCarta"><img src={{imagenCartas[miCarta.Tipo]}}/></div>
                        <div class="textoCarta">{{territorios[miCarta.Region]}}</div>
                    </div> 
                    
                    <div *ngIf="miCarta.EsComodin">
                        <div class="fotoCartaMini"><img src="https://img.icons8.com/ios-filled/64/000000/soldier.png"/></div>
                        <div class="fotoCartaMini"><img src="https://img.icons8.com/ios-filled/64/000000/horseback-riding.png"/></div>
                        <div class="fotoCartaMini"><img src="https://img.icons8.com/ios-filled/64/000000/cannon.png"/></div>
                    </div>
    
                </div>
            </div>
   
    </div>
    
    <div class="containerCruz">
        <div (click)="salir()" class="boton">
            <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-cross-100-most-used-icons-flaticons-lineal-color-flat-icons.png"/>
        </div>
    </div>
  
    <div class="barra downnav"> </div>
</div>
    


