*{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}

.barra{
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    float: left;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 30px;
    font-weight: 550;
}

.topnav {
    top:0;
    padding: 25px 20px;
}

.downnav {
    bottom: 0;
    padding: 100px 40px;
    z-index: -2;
}

.botonCentro{
    top:52%;
    left: 48.5%;
    position: fixed;
    font-size: 20px; 
    text-decoration: none;
    font-weight: 450;
    border-radius: 15px;
    padding: 0.5%;
}

.carta  { 
    width: 155px;
    height: 230px;
    border-radius: 18px;
    box-shadow:  rgba(0, 0, 0, 0.2) 0px 5px 10px;
    font-size: 20px;  
    font-weight: 550;
    cursor: pointer;
    margin-left: 30px;
    border: 3px solid #000000;
    padding-left: 0.3em;
    padding-right: 0.3em;
    overflow: hidden;
    background-color: #fafafa;
    display: inline-block;
    color: #000000;
 }

 .contenedorCartas {
    margin-top:10%;
}


.cartaNoSeleccionada{
    width: 155px;
    height: 230px;
    border-radius: 18px;
    box-shadow:  rgba(0, 0, 0, 0.2) 0px 5px 10px;
    font-size: 20px;  
    font-weight: 550;
    margin-left: 30px;
    padding-left: 0.3em;
    padding-right: 0.3em;
    overflow: hidden;
    background-color: #fafafa;
    display: inline-block;
    color: #000000;
    border: 4px solid #000000;
    border-style: dashed;
    
}

.fotoCarta{
    padding-top: 30px;
    margin-bottom: 30px;
}

.fotoCartaMini{
    padding-top: 7px;
}

.containerCruz{
    top: 60%;
    left:10%;
    position:fixed;
}


 .boton {
    border: 1.5px solid white;
    border-radius: 20px;
    background-color: #c0c7c8;
    padding: .5em;
    cursor: pointer;
    transition: width 0.5s, height 0.5s, transform 0.5s;
  }

 